body {
	background-color: #f7f7f7;
}

#objects {
	opacity: 0.8;
	transition-duration: 2s;
	background-color: #f3f3f3;
	border: 1px solid #d3d3d3;
	list-style-type: none;

	position: fixed;
	top: 50px;
	left: -170;
	width: 200px;
	height: 70%;
	margin: 0;
	padding: 0;
	overflow: auto;
	box-shadow: 0px 0px 2px grey; 
}


#objects:hover {
	opacity: 1;
	transition-duration: 0.3s;
	background-color: #f3f3f3;
	border: 1px solid #d3d3d3;
	list-style-type: none;

	position: fixed;
	top: 50px;
	left: 0;
	width: 200px;
	height: 70%;
	margin: 0;
	padding: 0;
	overflow: auto;
	box-shadow: 5px 5px 5px grey; 
}
	
#objects li {
	 float: top;
}

#objects li a {
	transition-duration: 0.5s;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
}

#objects li a:hover {
	transition-duration: 0.2s;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	background-color: #777777;

	box-shadow: 0px 2px 5px grey; 
}




#nav {
	background-color: #f3f3f3;
	border: 1px solid #d3d3d3;
	list-style-type: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-shadow: 1px 1px 5px grey; 
}

#nav #l {
	 float: left;
}

#nav #r {
	 float: right;
}

#nav li a {
	transition-duration: 0.3s;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
}

#nav li a:hover {
	transition-duration: 0.2s;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

	color: black;
	background-color: #777777;
	box-shadow: 4px 0px 5px grey; 
}

#code {
	position:absolute;
	z-index: -1;
	top:0px;
	left:0px;
}